@{
    ViewBag.Title = "ThanhToan";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
    double tongtien = 0;
}
@model List<Nhom.Models.CartChoose>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Thanh Toán</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div class="container" style="background:#ffffff;border-radius:10px; margin-top:1.7rem">
        <h1 style="color: darkblue">PhoneStore</h1>
        <p style="color:red;font-size:24px;">@TempData["thanhtoan"]</p>
             @using(Html.BeginForm("Index","ThanhToan",FormMethod.Post))
                {
                   
                    @Html.AntiForgeryToken()
                    
        <div class="row">
            <div class="col-md-4"> 
                <h3 class="text-center">Thông Tin Mua Hàng</h3>
                <table class="mt-3">
                    <tr>
                        <td><strong><label for="fname" >Email: </label></strong></td>
                        <td><input type="email" id="fname" value=@ViewBag.email name="email"></td>
                    </tr>
                    <tr>
                        <td><strong><label for="fname">Họ tên Khách: </label></strong></td>
                        <td><input type="text" id="fname" value="@ViewBag.name" name="tenkh"></td>
                    </tr>
                    <tr>
                        <td><strong><label for="fname">Số điện thoại: </label></strong></td>
                        <td><input type="text" id="fname" value="" name="sodt"></td>
                    </tr>
                    <tr>
                        <td><strong><label for="fname">Địa Chỉ: </label></strong></td>
                        <td><input size="30px" type="text" id="fname" value="" name="diachi" row="5"></td>
                    </tr>
                    <tr>
                        <td><strong><label for="fname">Ghi Chú:  </label></strong></td>
                        <td><textarea class="form-control" name="ghichu"></textarea></td>
                    </tr>
                </table>
                    
                
            </div>
            <div class="col-md-4">
                <h3 class="text-center">Phương thức thanh toán</h3>

                <div class="alert alert-secondary" role="alert">
                    <div class="checkbox">
                        <label><input type="checkbox" checked name="status" value="true"><strong>Thanh Toán Khi Nhận Hàng (COD)</strong></label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="section">
                    <div class="suggest-header">
                        <h2>Đơn Hàng ( @Model.Count() sản phẩm )</h2>
                    </div>

                    <div class="product-content">
                        
                        <div class="row">
                            @foreach(var item in Model)
                            {
                                tongtien = tongtien + (double)@item.soluong * (double)@item.mathang.GiaThanh.GetValueOrDefault(0);
                                <div class="col-md-4"> 
                                <div class="image">
                                    <img src="~/Images/@item.mathang.Image" style="width: 100px;margin-right: 10px;">
                                </div>
                            </div>
                            <div class="col-md-8" style="position:relative">
                                <div style="top: 0; right: 33px; position: absolute;"><a href="/ThanhToan/DeleteCartProduct?MaMH=@item.mathang.MaMH">X</a></div>
                                <div class="content">
                                    <h3 class="title">@item.mathang.TenMh</h3>
                                    <div class="price">
                                        <strong>@item.mathang.GiaThanh</strong>
                                    </div>
                                    <div class="price">
                                        <p>Số lượng: <strong>@item.soluong</strong></p>

                                    </div>
                                </div>
                            </div>
                            }
                            
                        </div>
                    </div>

                </div>

                <div class="border-bottom ml-5">
                    <div>
                        <h4 class="text-muted">Tạm tính</h4>
                        <strong>@tongtien.ToString("#,##0")</strong>
                        
                    </div>
                    <div>
                        <h4 class="text-muted">Phí vận chuyển </h4>
                        <span class="text-right">0 VND</span>
                    </div>
                </div>
                <div class="border-bottom ml-5">

                    <div class="price">
                        <p>Tổng Tiền: <strong>@tongtien.ToString("#,##0")</strong></p>

                    </div>

                </div>
                <hr />
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Đặt Hàng</button>
                </div>

            </div>
        </div>
                }
    </div>


</body>
</html>

