@model ModeDb.EF.MatHang

@{
    Layout = null;
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
    
  
}
 
    <div class="container"> 
        <div class="section-content">
            <h5 class="mb-4">
                <font style="vertical-align:inherit; font-size:30px">Nhập Thêm Sản Phẩm</font>
            </h5>
            @using (Html.BeginForm("create", "pro", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                @Html.AntiForgeryToken()
                 @Html.ValidationSummary(true, "", new {@style="color:red" })
                
                <div class="row">
                  
        <hr />
        <div class="col-md-4">

            <div style="height:350px">                
                <img src="~/Images/anh.jpg" style="width:100% ; height:350px">
            </div>

            <label for="files" class="btn btn-primary btn-lg btn-block">Chọn Ảnh</label>
            <input type="file" id="files" style="visibility:hidden;" name="Image"/>
           
            
            

        </div>
        <div class="col-md-8">

            <div class="row">
                
                <div class="col-md-4 ">

                    <div class="form-group">
                        @Html.LabelFor(model => model.TenMh, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TenMh)
                            @Html.ValidationMessageFor(model => model.TenMh, "", new { @style = "color:red" })
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.GiaThanh, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.GiaThanh)
                            @Html.ValidationMessageFor(model => model.GiaThanh, "", new { @style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.GiaKhuyenMai, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.GiaKhuyenMai)
                            @Html.ValidationMessageFor(model => model.GiaKhuyenMai, "", new { @style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Soluong, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Soluong)
                            @Html.ValidationMessageFor(model => model.Soluong, "", new { @style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.MaLoaiHang, "MaLoaiHang", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("MaLoaiHang", String.Empty)
                            @Html.ValidationMessageFor(model => model.MaLoaiHang, "", new { @style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.NgayNhap, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                           <input type="text" name="ngayNhap"/>
                            @Html.ValidationMessageFor(model => model.NgayNhap, "", new { @style = "color:red" })
                            
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 mb-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ManHinh, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ManHinh)
                            @Html.ValidationMessageFor(model => model.ManHinh, "", new { @style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Ram, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Ram)
                            @Html.ValidationMessageFor(model => model.Ram, "", new { @style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CameraT, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CameraT)
                            @Html.ValidationMessageFor(model => model.CameraT, "", new { @style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">

                    <div class="form-group">
                        @Html.LabelFor(model => model.CameraS, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CameraS)
                            @Html.ValidationMessageFor(model => model.CameraS, "", new { @style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Cpu, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Cpu)
                            @Html.ValidationMessageFor(model => model.Cpu, "", new { @style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Gpu, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Gpu)
                            @Html.ValidationMessageFor(model => model.Gpu, "", new { @style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.BoNho, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BoNho)
                            @Html.ValidationMessageFor(model => model.BoNho, "", new { @style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                  
                        @Html.LabelFor(model => model.DungLuongPin, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DungLuongPin)
                            @Html.ValidationMessageFor(model => model.DungLuongPin, "", new { @style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="button-cj"> 
                    <div class="form-group">
                        <input type="submit" value="Thêm sản phẩm" class="btn btn-primary btn-lg active" />
                    </div>
                    
                </div>

                </div>
        </div>
    
                }
             
  </div>
    </div>