@model ModeDb.EF.MatHang

@{
    Layout = null;
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>MatHang</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LoaiMatHang.TenLoaiMH)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LoaiMatHang.TenLoaiMH)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TenMh)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TenMh)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GiaThanh)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GiaThanh)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GiaKhuyenMai)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GiaKhuyenMai)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Soluong)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Soluong)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NgayNhap)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NgayNhap)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NgaySuaDoi)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NgaySuaDoi)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.status)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ManHinh)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ManHinh)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Ram)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Ram)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CameraT)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CameraT)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CameraS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CameraS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Cpu)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cpu)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Gpu)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Gpu)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BoNho)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BoNho)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DungLuongPin)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DungLuongPin)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.luotXem)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.luotXem)
            </dd>
    
            
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MaMH }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
