
@{
    ViewBag.Title = "SearchSP";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
@model IEnumerable<ModeDb.EF.MatHang>
<div class="container">
    <!-- Site Content -->
    <div class="site-content mt-5">

        

        <div class="site-producer">
            

            <section class="section-filter">
                <div class="section-header">
                    <h3 class="section-title">Tìm Kiếm Và Sắp Xếp</h3>
                </div>
                <div class="section-content mt-4">
                   @using (@Html.BeginForm("SearchSP", "Home", FormMethod.Post, new { @class = "form-group" }))
                   { 
                        <div class="row">
                            
                                    <div class="col-md-3 col-sm-6 col-xs-6 form-group">
                                        <input type="text" name="name" class="form-control" placeholder="Tìm kiếm..." value="">
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-6 form-group">
                                        <select name='hdh' class="form-control">
                                            <option value='' selected>
                                                Hệ Điều Hành
                                            </option>
                                            <option value='ios'>IOS</option>
                                            <option value='android'>
                                                Android
                                            </option>
                                            
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        <select name='giathanh' class="form-control">
                                            <option value='bang' selected>
                                                Giá Sản Phẩm
                                            </option>
                                            <option value='asc'>
                                                Giá từ thấp tới cao
                                            </option>
                                            <option value='desc'>
                                                Giá từ cao tới thấp
                                            </option>
                                        </select>
                                    </div>
                                     
                             
                            <div class="col-md-3">
                               <input type="submit" value="lọc sản phẩm" class="btn btn-danger" />
                            </div>
                        </div>
                   }
                </div>
            </section>

            <section class="container mode_contents mt-5">
                <div class="mode_content_title row">
                    <h4>Điện Thoại</h4>
                     
                </div>
                <div class="mode_contents mt-3 pb-5 pl-3 pr-3">
                    <div class="row"> 
                       @foreach (var item in Model) {
                        <div class="col-md-3 mt-3">
                            <div class="item_product">
                                <a href="/Home/XemChiTietSP?id=@item.MaMH">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="image-product">
                                                <img src="~/Images/@item.Image" style="width:250px;height:100%" alt="iphoe11 pro max " />
                                            </div>
                                            <div class="content-product">
                                                <h3 class="title">@item.TenMh</h3>
                                                <div class="start-vote">
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i>
                                                </div>
                                                <div class="price">
                                                    <strong>@item.GiaThanh</strong>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="sub-product mb-1">
                                                <p><strong><i class="fas fa-tv"></i> Màn Hình: </strong>@item.ManHinh</p>
                                                <p><strong><i class="fas fa-camera-retro"></i> Camera Trước: </strong>@item.CameraT</p>
                                                <p><strong><i class="fas fa-camera-retro"></i> Camera sau: </strong>@item.CameraS</p>
                                                <p><strong><i class="fas fa-microchip"></i> CPU: </strong>@item.Cpu</p>
                                              
                                                <p><strong><i class="fas fa-hdd"></i> RAM: </strong>@item.Ram</p>
                                                <p><strong><i class="fas fa-hdd"></i> Bộ Nhớ Trong: </strong>@item.BoNho</p>
                                                <p><strong><i class="fas fa-battery-full"></i> Dung Lượng PIN: </strong>@item.DungLuongPin</p>
                                                <p><strong><i class="fas fa-hdd"></i> Hệ Điều Hành: </strong>@item.HeDieuHanh.TenHDH</p>

                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                       }
                         
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>

