@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
@model ModeDb.EF.User
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Login</title>

    <!-- Custom fonts for this template-->
    <link href="~/assets/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/assets/admin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class=" ">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center mt-5">

            <div style="width:400px;height:auto;box-shadow: 1px 2px 3px #808080; border-radius: 10px;">

                <div class="p-5">
                    <div class="text-center">
                        <h2 style="color:#ff2f00;text-shadow:1px 1px 1px #808080;font-size:34px; padding:1rem 0; font-weight:500;">Đăng Ký</h2>
                    </div>

                    @using (Html.BeginForm("Index", "DangKy", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "")
                         
                        <div class="form-group">
                            @Html.TextBoxFor(Model => Model.HoTen, new { @class = "form-control form-control-user", @placeholder = "họ Tên", @style = "font-size:18px" })

                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(Model => Model.Email, new { @class = "form-control form-control-user", @placeholder = "Email", @style = "font-size:18px", @type="email"  })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(Model => Model.Phone, new { @class = "form-control form-control-user", @placeholder = "Số điện thoại", @style = "font-size:18px" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(Model => Model.PassWord, new { @class = "form-control form-control-user", @placeholder = "mật khẩu", @style = "font-size:18px" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(Model => Model.RePassWord, new { @class = "form-control form-control-user", @placeholder = "Lập lại mật khẩu", @style = "font-size:18px" })
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox small">
                                @Html.CheckBoxFor(Model => Model.Status, new { @class = "custom-control-input", @id = "customCheck", @style = "font-size:18px" })

                                <label class="custom-control-label" for="customCheck">Xác nhận đăng ký</label>
                            </div>
                        </div>

                        <input type="submit" style="font-size:18px" value="Đăng ký" class="btn btn-primary btn-user btn-block">


                        <a href="index.html" style="font-size:18px" class="btn btn-google btn-user btn-block">
                            <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                        </a>
                    }


                    <hr>
                    <div class="text-center">
                        <a class="small" href="forgot-password.html">Forgot Password?</a>
                    </div>
                    <div class="text-center">
                        <a class="small" href="/admin/UserLogin">Go to Login </a>
                    </div>
                    <div class="text-center">
                        <a class="small" href="/">Quay Lại Trang Chủ!</a>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/assets/admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/assets/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/assets/admin/js/sb-admin-2.min.js"></script>

</body>

</html>




