@model ModeDb.EF.DonHang

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2 style="color:red; font-size:28px;text-align:center">Bạn Muốn Thay Đổi Đơn Hàng Này</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
      
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.SoHoaDon)

        <div class="form-group">
            @Html.LabelFor(model => model.MaKH, "MaKH", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaKH", String.Empty)
                @Html.ValidationMessageFor(model => model.MaKH)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaNV, "MaNV", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaNV", String.Empty)
                @Html.ValidationMessageFor(model => model.MaNV)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayDH, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayDH)
                @Html.ValidationMessageFor(model => model.NgayDH)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayGH, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayGH)
                @Html.ValidationMessageFor(model => model.NgayGH)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoiGiaoHang, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoiGiaoHang)
                @Html.ValidationMessageFor(model => model.NoiGiaoHang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TongTien, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TongTien)
                @Html.ValidationMessageFor(model => model.TongTien)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ghichu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ghichu)
                @Html.ValidationMessageFor(model => model.ghichu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.status)
                @Html.ValidationMessageFor(model => model.status)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
