@model ModeDb.EF.MatHang

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>MatHang</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TenMh, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenMh)
                @Html.ValidationMessageFor(model => model.TenMh)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GiaThanh, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiaThanh)
                @Html.ValidationMessageFor(model => model.GiaThanh)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GiaKhuyenMai, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiaKhuyenMai)
                @Html.ValidationMessageFor(model => model.GiaKhuyenMai)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Soluong, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Soluong)
                @Html.ValidationMessageFor(model => model.Soluong)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaLoaiHang, "MaLoaiHang", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaLoaiHang", String.Empty)
                @Html.ValidationMessageFor(model => model.MaLoaiHang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayNhap, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayNhap)
                @Html.ValidationMessageFor(model => model.NgayNhap)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgaySuaDoi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgaySuaDoi)
                @Html.ValidationMessageFor(model => model.NgaySuaDoi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Image)
                @Html.ValidationMessageFor(model => model.Image)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.status)
                @Html.ValidationMessageFor(model => model.status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ManHinh, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ManHinh)
                @Html.ValidationMessageFor(model => model.ManHinh)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ram, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ram)
                @Html.ValidationMessageFor(model => model.Ram)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CameraT, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CameraT)
                @Html.ValidationMessageFor(model => model.CameraT)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CameraS, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CameraS)
                @Html.ValidationMessageFor(model => model.CameraS)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cpu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cpu)
                @Html.ValidationMessageFor(model => model.Cpu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gpu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gpu)
                @Html.ValidationMessageFor(model => model.Gpu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BoNho, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BoNho)
                @Html.ValidationMessageFor(model => model.BoNho)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DungLuongPin, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DungLuongPin)
                @Html.ValidationMessageFor(model => model.DungLuongPin)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.luotXem, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.luotXem)
                @Html.ValidationMessageFor(model => model.luotXem)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaHDH, "MaHDH", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaHDH", String.Empty)
                @Html.ValidationMessageFor(model => model.MaHDH)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
